


<div class="container">
<div class="row">
<div class="col-md-3">
<%= render 'shared/userbook', user:@user, book:@book %>
</div>  


<!-- ユーザーの投稿一覧 -->
<div class="col-md-8 offset-1">
<table class="table table-striped">
  <thead>
    <tr>
    <h1>Books</h1>
    <th colspan="1"></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
<tbody>
  <% @books.each do |book| %>
    <tr>
      <td><%= link_to(image_tag(book.user.get_profile_image_url(100, 100)), user_path(book.user)) if book.user.present? %></td>
      <td><%= link_to(book.title, book_path(book)) %></td>
      <td><%= book.body %></td>
    </tr>
  <% end %>
</tbody>
</table>
</div>
</div>
</div>

